<div>
  <% @products.each do |product| %>
  <a href='/api/cart_products/create?<%= product.id %>'>
    <p><%= product.name %></p>
    <p><%= product.price %>€</p>
  </a>
  <% end %>
</div>
<div>
  <% @cart_products.each do |cart_product| %>
    <p><%= cart_product.quantity %></p>
    <p><%= cart_product.name %></p>
    <p><%= cart_product.price %>€</p>
  <% end %>
</div>
